
*{
  margin: 0;
  padding: 0;
}

body
{
  /* responsive design  */
  height: 100vh; 
  width: 100vw;
  background-color: #e5e5e5;
  border: 2px solid black;
  border: none;
}

header
{
  position: sticky;
  top: 0;
  left: 0;;
  width: 100%;
  background-color: #14213d;
  color: #e5e5e5;
  text-align: center;
}

.container
{
  /* responsive design  */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

#data{
  height: 40px;
  width: 170px;
  border: none;
  font-size: 1.5rem;
}

button
{
  background-color: #fca311;
  color: white;
  height: 40px;
  width: 30px;
  border: none;
}

#fetch
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 200px;
  padding: 10px 0px;
}

#show
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

footer
{
  background-color: #000000;
  text-align: center;
  color: #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;

}

.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#search:hover{
  cursor: pointer;
}
